/* ==== INÍCIO SEÇÃO - GOOGLE FONTS ==== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* ==== FIM SEÇÃO - GOOGLE FONTS ==== */

/* ==== INÍCIO SEÇÃO - ESTILOS GERAIS ==== */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #ffffff; /* Fundo branco */
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

hr.titulo {
    border: 2px solid #7aa2a9;
    margin-bottom: 10px;
}

hr.menu {
    border: 1px solid #7aa2a9;
    margin-top: 10px;
    margin-bottom: 20px;
}

hr.subtitulo {
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
}

hr.tabela {
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 10px;
}

hr.final-tabela {
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* ==== FIM SEÇÃO - ESTILOS GERAIS ==== */

/* ==== INÍCIO SEÇÃO - CABEÇALHO (PÁGINA PRINCIPAL) ==== */
header {
    text-align: center;
    padding: 20px 0;
    background-color: #ffffff; /* Cor de fundo alterada para branco */
    color: #7aa2a9; /* Cor do texto alterada para a paleta */
    margin-bottom: 20px;
}

#logo {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

h1, h2 {
    color: #7aa2a9;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #7aa2a9;
    text-decoration: none;
}
/* ==== FIM SEÇÃO - CABEÇALHO (PÁGINA PRINCIPAL) ==== */

/* ==== INÍCIO SEÇÃO - FORMULÁRIO ==== */
#form-orcamento, #form-edicao-pedido {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Bordas arredondadas */
    font-size: 16px;
    background-color: #dfb6b0; /* Cor de fundo dos campos */
    color: #fff; /* Cor do texto nos campos */
}

.form-row:after {
    content: "";
    display: table;
    clear: both;
}

.form-row .form-group {
    float: left;
    width: 48%;
    margin-right: 2%;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

input[type="checkbox"] {
    margin-right: 5px;
}
/* ==== FIM SEÇÃO - FORMULÁRIO ==== */

/* ==== INÍCIO SEÇÃO - TABELAS ==== */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ccc;
}

th {
    background-color: #dfb6b0;
    color: white;
}

.table-responsive {
    overflow-x: auto;
}
/* ==== FIM SEÇÃO - TABELAS ==== */

/* ==== INÍCIO SEÇÃO - BOTÕES ==== */
button {
    background-color: #7aa2a9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* Bordas arredondadas */
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #5a8289;
}

/* ==== INÍCIO SEÇÃO - BOTÃO VOLTAR AO INÍCIO ==== */
#lista-pedidos button, #relatorio button, #backup button {
    display: block;
    margin: 0 auto 20px auto;
}
/* ==== FIM SEÇÃO - BOTÃO VOLTAR AO INÍCIO ==== */

/* ==== FIM SEÇÃO - BOTÕES ==== */

/* ==== INÍCIO SEÇÃO - SEÇÃO RELATÓRIO ==== */
.filtro-data {
    margin-bottom: 20px;
}

.filtro-data label, .filtro-data input {
    margin-right: 10px;
}
/* ==== FIM SEÇÃO - SEÇÃO RELATÓRIO ==== */

/* ==== INÍCIO SEÇÃO - FILTROS ==== */
.filtro-data {
    margin-bottom: 20px;
    text-align: center;
}

.filtro-data label,
.filtro-data input,
.filtro-data button {
    margin: 0 5px;
}
/* ==== FIM SEÇÃO - FILTROS ==== */

/* ==== INÍCIO SEÇÃO - PÁGINA DE VISUALIZAÇÃO DO ORÇAMENTO (orcamento.html) ==== */
.header-orcamento {
    text-align: center;
    margin-bottom: 20px;
}

#logo-orcamento {
    max-width: 100px;
    height: auto;
}

.contato-empresa {
    margin: 5px 0;
    font-size: 0.9em;
}

.info-orcamento {
    text-align: left;
    margin-bottom: 10px;
}
/* ==== FIM SEÇÃO - PÁGINA DE VISUALIZAÇÃO DO ORÇAMENTO (orcamento.html) ==== */

/* ==== INÍCIO SEÇÃO - MEDIA QUERIES ==== */
@media (max-width: 768px) {
    .container {
        width: 98%;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
    }

    table {
        display: block;
        overflow-x: auto;
    }
}
/* ==== FIM SEÇÃO - MEDIA QUERIES ==== */
